[Unit]
Description=Thermal Printer at home

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart="/home/facks/Desktop/BauerPrint/printMenageNyass.sh"

[Install]
WantedBy=multi-user.target
